/*p { text-align: left; }*/
.reveal h1 {
  font-size: 3.0em;
}


#header-left {
    position: absolute;
    top: 0.5%;
    left: 0.5%; 
}
#header-right {
    position: absolute;
    top: 0%;
    right: 0%;
}
#footer-left {
    position: absolute;
    bottom: 0.5%;
    left: 0.5%;
}

#footer-middle {
    position: absolute;
    bottom: 2%;
    left: 45%;
}
